<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="src/org/xtext/example/openDictatorDsl/validation/openDictatorEvl.evl"
            namespaceURI="http://www.example.org/openDictator">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.xtext.openDictatorDsl.ui.opendictatordsl.check.fast">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.xtext.example.openDictatorDsl.validation.JsonHelper"
            defaultName="JsonHelper">
      </tool>
   </extension>

</plugin>
